$font-size-base: 16px;
@import "bootstrap";
@import "bourbon";
$max-width: 600px;
@import "neat";

body {
  padding: 0 0 120px;
}
form {
  padding: 0 20px;
}
.container {
  @include outer-container;
}
.title {
  display: block;
  width: 100%;
  padding-bottom: 25px;
}
.alert-success {
  display: none;
}
button {
  width: 100%;
  margin-top: 10px;
}
.glyphicon {
  padding-left: 10px;
}
abbr {
  display: none;
}

.ig-b- { display: inline-block; }
.ig-b- img { visibility: hidden; }
.ig-b-:hover { background-position: 0 -60px; } .ig-b-:active { background-position: 0 -120px; }
.ig-b-32 { width: 32px; height: 32px; background: url('//badges.instagram.com/static/images/ig-badge-sprite-32.png') no-repeat 0 0; }
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .ig-b-32 { background-image: url('//badges.instagram.com/static/images/ig-badge-sprite-32@2x.png'); background-size: 60px 178px; }
}
